@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    html {
        @apply transition-colors duration-300;
    }
    body{
        @apply bg-[#D0E7F9]/30 dark:bg-[#0F172A] dark:text-gray-100;
    }
}

.cabin{
    font-family: "Cabin", sans-serif;
}

button{
    cursor: pointer;
}

@font-face {
  font-family: 'Ciguatera';
  src: url('./assets/Font/ciguatera.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('./assets/Font/SFPRODISPLAYREGULAR.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eirene Sans', sans-serif;
  src: url('./assets/Font/EireneSans-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.sfpro{
    font-family: 'SF Pro';
}

.ciga{
    font-family: 'Ciguatera';
}

.eirene{
    font-family: 'Eirene Sans', sans-serif;
}

.input-style {
  @apply w-full px-4 py-2 rounded-lg bg-white/70 dark:bg-[#141e35] placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#38BDF8];
}

.input{
    @apply text-[#0F172A] dark:text-[#D0E7F9]
}
textarea{
    @apply text-[#0F172A] dark:text-[#D0E7F9]
}
